* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

nav,
header,
footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

nav,
header {
    padding: 20px 400px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 800;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 36px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

header {
    padding: 100px 400px;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 48px;
    font-weight: 800;
}

.left-content p {
    font-size: 18px;
    color: #E5E7EB;
}

img {
    margin-left: 40px;
}

button {
    background-color: #3882F6;
    border: none;
    padding: 10px 36px;
    border-radius: 10px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 800;
    margin-top: 16px;
}